h2{
    color: #cb2d3e ;
    margin: 0px;
    font-style: italic;
  
    margin-left: 75px;
   
    padding-top: 10px;
    
}
img{
    width:50px;
    float:left;
    
}
header{
    background-color: lightblue;
    height: 25%;
    position: relative;
    top: 0px;
}
.home_button{
    height: 40px;
    background-size: 100%;
    float: right;
    padding-right: 20px;
    position: relative;
    bottom: 25px;
}