<header>
  <img  src="../../assets/video.png" > <h2>RNS Video</h2>
 
  </header>
  

<div class="container">


    <div class="label-container">
        <div class="label-name">
            <p>New Member</p>
        </div>
        <div>
            <button class="btn-grad" (click)="addMember()">GO</button>
        </div>

    </div>
    <div class="label-container">
        <div class="label-name">
            <p>Movie Search</p>
        </div>
        <div>
            <button class="btn-grad" (click)="searchMovie()">GO</button>
        </div>

    </div>

</div>