<app-header></app-header>
<div class="label-container">
  <div class="label-name">
    <p>Movie Rent</p>
  </div>
</div>
  <div class="container">
    <div class="label-name">
      <p class="member_name">Member Mobile:</p>  
      <input type="text" class="member_name" #number>
      <button  class="btn-grad" (click)="searchMember(number.value)">GO</button>
    </div>
    
      <div class="container_new" *ngIf="isContainer">
        <div class="member_details"><p>Member Name</p> <span > {{memberName}}</span></div>
      <div class="member_details"> <p >Member Type</p><span>{{memberType}}</span> </div>
     
   </div>
    
   
  <div>
   
    <a  class="add_more" (click)="showModal()"> <img src="../../assets/add_mr.png"/>Add More</a>
</div>
</div>

<div *ngIf="isModal" class="modal">
  <table class="table table-striped">
    <thead>
        <tr>
          <th>Movie Name</th>
          <th>Movie Type</th>
       
         
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of movieDetails;let i = index">
        <td><input type="checkbox" [checked]="user.checked" (change)="user.checked = !user.checked"> {{ user.MovieName }}</td>
        <td>{{ user.MovieType }}</td>
        
       
      </tr>
      <button  class="btn-grad" (click)="isChecked()">Add</button>
    </tbody>
   
  </table>
  
  
</div>
    <div class="label-name" *ngIf="checkedIDs">
      <p>Selected</p>
      <table class="table table-striped">
        <thead>
            <tr>
              <th>Movie Name</th>
              <th>Movie Type</th>
              <th>Renting</th>
              <th>Return</th>
              <th>Amout</th>
             
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of checkedIDs">
            <td>{{ user.MovieName }}</td>
            <td>{{ user.MovieType }}</td>
           <td>  <select #myDropDownList class="dropdown" (change)="update($event.target.value)">
       
            <option *ngFor="let rentingType of Renting" [value]="language">
                {{rentingType}}
            </option>
        </select></td>
        <td><input  type="date"></td>
        <td>{{user.amount}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="istotal" class="totalAmount"><h5>Total</h5>
        <h5>{{totalAmount}}</h5></div>
   
    </div>
   
 



